.inkling-editor,
.inkling-preview
  width: 50%
  position: fixed
  top: 0
  bottom: 0

  &-inner
    padding: 20px

.inkling-editor
  left: 0

.inkling-editor-inner
  position: relative
  height: 100%
  width: 100%

.inkling-editor-tools
  nav-list()
  position: absolute
  top: 0
  left: 0
  right: 0
  width: 100%
  border-bottom: 1px solid $border-color
  margin: 0
  padding: 18px 10px

.inkling-editor-tool
  margin: 0 10px
  color: $gray-light

  &:hover
    color: $gray-dark
    cursor: pointer

.inkling-editor-input
  width: 100%
  height: 100%
  padding-top: 54px

  .CodeMirror
    height: 100%

.inkling-preview
  right: 0
  background-color: $gray-lighter
