.inkling-editor,
.inkling-preview
  width: 50%
  position: fixed
  top: 0
  bottom: 0

  &-inner
    padding: 20px

.inkling-editor
  left: 0

  .CodeMirror
    margin-top: 18px
    padding-bottom: 60px
    height: 100%

.inkling-editor-inner
  position: relative
  height: 100%
  width: 100%


.inkling-preview
  right: 0
  background-color: $gray-lighter
