doctype html
html
  head
    title Embers
    link(rel='stylesheet', href='/static/css/app.css')
    link(rel='stylesheet', href='//lab.lepture.com/editor/editor.css')

  body

    script(type='text/javascript', src='//lab.lepture.com/editor/editor.js')
    script(type='text/javascript', src='/static/js/app.js')
